services:
  auth-api:
    build:
      args:
        BUILD_CONFIGURATION: Debug
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
    # volumes:
    #   - ./src/Modules/Auth/Auth.API:/app:ro
    ports:
      - "5281:80"

  postgres:
    ports:
      - "5433:5432"
    command: 
      - "postgres"
      - "-c"
      - "log_statement=all"
      - "-c"
      - "log_connections=on"